.account-deletion {
    p {
        max-width: 380px;
        margin-left: auto;
        line-height: 1.6;
        margin-top: $gap-4;
    }

    @media (max-width: 500px) {
        p {
            font-size: $font-size-2;
        }
    }
}