.execution-history {
    
    display: grid;
    gap: $gap-4;

    .name {
        font-weight: 500;
        color: $purple-4;
        font-size: $font-size-4;
        margin-bottom: $gap-1;
    }

    .execution-time {
        font-weight: 300;
        font-size: $font-size-3;
    }

}