.execution-history {
    overflow-x: scroll;

    .no-data {
        color: $purple-7;
    }

    input {
        width: 100%;
        max-width: 700px;
        margin-bottom: $gap-4;
        background-color: white;
        border: 1px solid $gray-3;
    }

    table {
        tbody {
            tr {
                td:first-child {
                    font-size: $font-size-2;
                }

                td:last-child {
                    font-family: monospace;
                    font-size: $font-size-1;
                }
            }
        }
    }


}