.groups-list {
    color: $purple-2;

    .title {
        font-size: $font-size-6;
        margin-bottom: $gap-4;
    }

    .groups {
        display: grid;
        gap: $gap-4;
        width: fit-content;

        .group {
            background-color: $gray-0;
            padding: $gap-4 $gap-4;
            display: flex;
            justify-content: space-between;
            border-radius: $border-radius-large;
            text-decoration: none;
            color: inherit;

            .group-name {
                font-weight: 600;
                margin-right: $gap-5;

                .at {
                    font-size: $font-size-2;
                    position: relative;
                    top: -1px;
                }
            }

            .user-count {
                .number {
                    color: $purple-4;
                }
            }
        }

        .group:hover {
            background-color: $gray-1;
        }
    }

    @media (max-width: 700px) {
        margin-left: 70px + $gap-4;
    }

    @media (max-width: 500px) {
        margin-left: 0;
    }

    @media (max-width: 400px) {
        .title {
            font-size: $font-size-5;
        }
    
        .groups {
            font-size: $font-size-2;

            .group {
                .group-name {
                    margin-right: $gap-4;

                    .at {
                        font-size: $font-size-1;
                    }
                }
            }
        }
    }
}