.groups-list {
    color: $purple-2;

    .title {
        font-size: $font-size-6;
        margin-bottom: $gap-4;
    }

    .groups {
        display: grid;
        gap: $gap-4;
        width: fit-content;

        .group-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .group {
                background-color: $gray-0;
                padding: $gap-4 $gap-4;
                display: flex;
                justify-content: space-between;
                border-radius: $border-radius-large;
                text-decoration: none;
                color: inherit;
                position: relative;
                width: 100%;

                .group-name {
                    font-weight: 600;
                    margin-right: $gap-5;

                    .at {
                        font-size: $font-size-2;
                        position: relative;
                        top: -1px;
                    }
                }

                .user-count {
                    .number {
                        color: $purple-4;
                    }
                }
            }

            .group:hover {
                background-color: $gray-1;
            }

            .leave {
                margin-left: $gap-3;
                color: $down-red;
                width: 41px;
                cursor: pointer;
                opacity: 0.8;
            }

            .leave:hover {
                opacity: 1;
            }
        }

        .no-data {
            font-size: $font-size-2;
            margin-bottom: $gap-4;
        }

        .new-group {
            border: 2px dashed $purple-2;
            color: $purple-2;
            border-radius: $border-radius-large;
            text-align: center;
            padding: $gap-1 0 $gap-1 + 3px;
            font-size: $font-size-8;
            line-height: 1;
            opacity: 0.7;
            text-decoration: none;
            margin-right: 46px;
            cursor: pointer;
            min-width: 170px;
        }

        .new-group:hover {
            opacity: 1;
        }
    }

    @media (max-width: 700px) {
        margin-left: 70px + $gap-4;
    }

    @media (max-width: 500px) {
        margin-left: 0;
    }

    @media (max-width: 400px) {
        .title {
            font-size: $font-size-5;
        }
    
        .groups {
            font-size: $font-size-2;

            .group {
                .group-name {
                    margin-right: $gap-4;

                    .at {
                        font-size: $font-size-1;
                    }
                }
            }
        }
    }
}