.invitation {
    font-size: $font-size-3;
    box-shadow: 0px 5.75px 5.75px rgba(0, 0, 0, 0.1);
    padding: $gap-4 $gap-4;
    border-radius: $border-radius;
    color: $purple-2;
    border: 1px solid $gray-1;

    .info {
        font-size: $font-size-3;
        margin-bottom: $gap-3;
        font-weight: 400;
    }

    a {
        text-decoration: none;
        color: $purple-4;
    }

    .buttons {
        margin-top: $gap-4;
        font-size: $font-size-2;
        display: flex;
        align-items: flex-start;

        button {
            height: 35px;
            width: 100px;
            padding: $gap-2;
        }

        .primary-button {
            margin-right: $gap-3;
        }
    }
}