.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #00000040;
    display: none;
    align-items: center;
    justify-content: center;
    padding: $gap-4;

    .modal-box {
        background-color: white;
        width: fit-content;
        height: fit-content;
        padding: $gap-5;
        border-radius: $border-radius;
        text-align: left;

        h2 {
            color: $purple-4;
            font-size: $font-size-7;
            margin-bottom: $gap-4;
        }

        p {
            font-weight: 300;
            margin-bottom: $gap-5;
            max-width: 380px;
            line-height: 1.6;
            margin-top: $gap-4;
        }

        .buttons {
            display: flex;
            justify-content: space-between;

            button {
                height: 37px;
                margin-left: 0;
            }

            button.primary-button {
                width: 202px;
            }
        }
    }

    @media (max-width: 500px) {
        .modal-box {
            .buttons {
                flex-direction: column;

                button, button.primary-button {
                    display: block;
                    margin-bottom: $gap-4;
                    width: 100%;
                }
            }
        }
    }
}

.modal.visible {
    display: flex;
}