.password-reset-request.modal-box {
    color: $purple-6;
    width: 420px;
    max-width: 420px;
    height: 277px;

    h2 {
        margin-bottom: $gap-4;
    }

    .info {
        margin-bottom: $gap-5;
        line-height: 1.5;
    }

    .small-info {
        font-size: $font-size-2;
        margin-top: -$gap-2;
        margin-bottom: $gap-4;
    }

    img {
        height: 110px;
        opacity: 0;
        display: block;
        margin: 0 auto;
        position: relative;
        bottom: -100px;
        transition-duration: 1s;
        background: none;
    }

    img.up {
        bottom: 0;
        opacity: 0.5;
    }

    label {
        display: block;
        margin-bottom: $gap-1;
    }

    input, button[type=submit] {
        width: 100%;
        margin: 0;
    }

    input {
        margin-bottom: $gap-4;
        color: $purple-4;
    }
}