.peka-dendrogram {

    canvas {
        margin-right: $gap-4;
    }
    
    .proteins {
        display: grid;
        align-items: flex-end;
        transform-origin: top left;
        transform: rotate(-90deg);
        width: 52px;
        overflow: hidden;
        position: relative;
        top: 52px;
        margin-right: $gap-4;

        .protein {
            text-align: left;
            padding-left: $gap-1;
            color: white;
            font-size: 6px;
            white-space: nowrap;
            font-family: monospace;
            display: flex;
            align-items: center;
            position: relative;
            color: $purple-4;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}