$col-1-width: 72px;
$cell-size: 18px;

.peka-rbp {
    .graphic {
        display: flex;
        grid-template-columns: 1fr 30px;
        width: fit-content;
        gap: $gap-5;
    }

    .table {
        font-size: $font-size-1;

        .row {
            display: block;
            white-space: nowrap;
            height: $cell-size;
        }

        .row:first-child {
            padding-left: $col-1-width;
            text-align: right;
        }

        .cell {
            width: $cell-size;
            display: inline-block;
            height: $cell-size;
        }

        .cell.center, .cell.center + .cell {
            background-image: linear-gradient(white 50%, #ffffff00 0%);
            background-position: left;
            background-size: 1px 10px;
            background-repeat: repeat-y;
        }

        .motif, .offset {
            color: $purple-2;
        }

        .motif {
            width: $col-1-width;
            display: inline-flex;
            align-items: center;
            height: $cell-size;
            font-family: monospace;
            justify-content: flex-end;
            padding-right: $gap-1;
            position: relative;
            top: -6px;
        }

        .offset {
            display: inline-flex;
            justify-content: center;
            align-items: flex-end;
            padding-bottom: 2px;
        }

    }

    .scores {
        margin-top: $cell-size;
        border: 1px solid $gray-5;

        .score {
            width: $cell-size * 2;
            height: $cell-size;
        }
    }

    .maps {
        height: $cell-size * 40;
        width: $cell-size;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: $cell-size;
    }

    .map {
        background: linear-gradient(black, white);
        position: relative;
        height: 300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .tick {
            position: relative;
            left: $cell-size + $gap-1;
            font-size: $font-size-2;
        }
    }

    #tableTooltip, #scoreTooltip {
        div:first-child {
            font-weight: 700;
            margin-bottom: $gap-1;
        }

        div:last-child {
            font-weight: 300;
            font-size: $font-size-6;
        }
    }
}