.samples-table {
    overflow-x: scroll;

    .no-data {
        color: $purple-7;
    }

    table {

        td.name {
            font-size: $font-size-3;
        }

        td.organism {
            font-style: italic;
        }

        .quality-status {
            color: white;
            padding: 2px $gap-1;
            border-radius: 2px;
            display: flex;

            img {
                width: 12px;
                display: block;
                margin-left: $gap-2;
            }
        }

        .quality-status.pass {
            background-color: $up-green;
        }

        .quality-status.fail {
            background-color: $down-red;
        }
    }
}