.settings-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $gap-7;
    max-width: 1000px;

    form {
        h2 {
            font-size: $font-size-6;
            margin-bottom: $gap-6;
            margin-left: 68px + $gap-3;
        }

        .input {
            margin-bottom: $gap-5;
            grid-template-columns: 68px 1fr;

            label {
                font-size: $font-size-2;
            }

            input {
                font-size: $font-size-4;
                padding: $gap-3 $gap-2;
            }
        }

        button[type=submit] {
            margin-left: 68px + $gap-3;
        }
    }

    @media (max-width: 1000px) {
        grid-template-columns: 1fr;
    }
    
    @media (max-width: 700px) {
        gap: $gap-7;

        form {
            h2 {
                font-size: $font-size-5;
                margin-bottom: $gap-5;
            }
        }
    }

    @media (max-width: 400px) {
        form {

            h2 {
                margin-left: 0;
                margin-bottom: $gap-4;
            }

            .input {
                grid-template-columns: 1fr;
            }

            button[type=submit] {
                margin-left: 0;
            }

        }
    }
}