.sidebar {
    padding: 0 $gap-3 $gap-3 $gap-3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;

    .user-summary, .groups-section {
        border-bottom: 1px solid $gray-3;
        padding: $gap-4 0;
    }

    .groups-section {
        .label {
            font-weight: 600;
            font-size: $font-size-2;
            color: $purple-2;
            margin-right: $gap-2;
            margin-top: -1px;
            margin-bottom: $gap-2;
        }

        .groups {
            display: grid;
            gap: $gap-1;
            font-size: $font-size-2;

            .group {
                color: inherit;
                text-decoration: inherit;

                .at {
                    font-size: $font-size-1;
                }
            }

            .group:hover {
                text-decoration: underline;
            }
        }
    }

    .nav-links {
        font-size: $font-size-3;
        display: grid;
        gap: $gap-1;
        padding: $gap-7 0;
        text-align: right;
        width: fit-content;
        margin: 0 auto;

        .full {
            display: inline;
        }

        .mini {
            display: none;
        }

        a {
            display: block;
            color: $purple-1;
            text-decoration: none;
            padding: $gap-2 $gap-3;
            border-radius: 5px;
        }

        a:hover {
            color: $purple-4;
        }

        a.selected {
            color: $purple-4;
            background-color: $gray-7;
            width: fit-content;
            margin-left: auto;
        }

        .applications {
            margin-top: $gap-8;
            padding-right: $gap-3;

            .heading {
                font-size: $font-size-2;
                font-weight: 500;
                margin-bottom: $gap-2;
                text-align: right;
                text-align: center;
            }
        }
    }

    .goodwright {
        text-align: center;
        color: $purple-2;
        font-weight: 700;
        padding-bottom: $gap-2;

        img {
            width: 100px;
        }

        .goodwright-icon {
            display: none;
        }

        .links {
            a {
                color: $purple-2;
                font-weight: 400;
                font-size: $font-size-1;
                text-decoration: none;
                padding: 0 $gap-1;
            }
        }

        .gh-links {
            display: grid;
            gap: $gap-2;
            margin: 0 auto;
            margin-top: $gap-3;
            width: fit-content;

            a {
                display: grid;
                grid-template-columns: 16px 1fr;
                width: fit-content;
                align-items: center;
                gap: $gap-1;

                img {
                    width: 16px;
                    opacity: 0.8;
                }
            }
        }
    }

    @media (max-width: 700px) {
        .user-summary {
            justify-content: center;
            grid-template-columns: 1fr;
            padding: $gap-3 0;

            .user-photo {
                width: 30px;
                height: 30px;
            }

            .user-info {
                display: none;
            }
        }

        .groups-section {
            display: none;
        }

        .nav-links {
            gap: $gap-2;

            .full {
                display: none;
            }

            .mini {
                display: block;
                width: 20px;
                opacity: 0.8;
            }

            a {
                padding: $gap-2 $gap-1;
            }

            a.selected {
                background: none;

                .mini {
                    opacity: 1;
                }
            }
        }
        
        .goodwright {
            .goodwright-logo {
                display: none;
            }

            .goodwright-icon {
                display: block;
                width: 80%;
                margin: 0 auto;
                margin-bottom: $gap-3;
            }

            .links {
                .full {
                    display: none;
                }

                a {
                    display: block;
                    padding: $gap-1 0;
                    font-size: $font-size-1 * 0.8;
                }
            }

            .gh-links {
                display: none;
            }

        }
    }
}