.signup-form {
    background-color: $purple-3;
    border-radius: 12px;
    color: white;
    padding: $gap-7 $gap-6;
    position: relative;

    .logo-container {
        display: flex;
        align-items: flex-end;
        margin-right: $gap-3;
        width: fit-content;
        margin: 0 auto;
        margin-bottom: $gap-8;

        .logo {
            display: block;

            svg {
                width: 136px;
                height: 76px;
            }
        }

        img {
            height: 18px;
            width: 92px;
            display: block;
            margin-left: $gap-3;
            margin-bottom: $gap-1;
        }
    }

    .error {
        color: darken($error-red, 10);
    }

    .input {
        display: grid;
        grid-template-columns: 80px 1fr;
        gap: $gap-3;
        align-items: center;
        margin: $gap-6 0;
        width: 94%;

        label {
            font-size: $font-size-3;
            text-align: right;
        }

        input {
            background-color: white;
            color: $purple-4;
            font-size: $font-size-5;
            height: 52px;
            width: 100%;
            font-weight: 500;
            padding: $gap-5 $gap-4;
        }

        input[type=password] {
            font-size: $font-size-8;
        }
    }

    .terms-link, button {
        margin-left: 80px + $gap-3;
    }

    .terms-link {
        color: $gray-2;
        text-decoration: none;
        display: block;
        margin-bottom: $gap-6;
    }

    button {
        background-color: $purple-4;
        box-shadow: 0px 2px 2px 0px $purple-4;
        font-weight: 500;
        font-size: $font-size-4;
        height: 36px;
        width: 110px;
    }

    .auth-link {
        color: white;
        text-decoration: none;
        position: absolute;
        bottom: $gap-5;
        right: $gap-5;
        font-size: $font-size-4;
    }
}