.user-summary {
    .user-info {
        border-bottom: 1px solid $gray-3;
        color: $purple-6;
        display: grid;
        grid-template-columns: 40px 1fr;
        align-items: center;
        gap: $gap-4;
        padding: $gap-4 0;

        .user-photo {
            content: "";
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: $gray-5;
        }
    }
}