.user-inviter {
    display: flex;

    

    button {
        height: 41px;
        margin: auto 0;
        width: 84px;
    }

    @media (max-width: 500px) {
        display: block;

        button {
            width: 100%;
        }
    }
}