.user-summary {
    color: $purple-6;
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    gap: $gap-3;

    .user-photo {
        content: "";
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $gray-5;
    }

    .user-info {
        position: relative;
        background: none;

        .username {
            font-size: $font-size-2;
            color: $purple-2;

            .at {
                font-size: $font-size-1;
                position: relative;
                top: -1px;
            }
        }

        .group-status {
            position: absolute;
            color: $purple-3;
            font-size: $font-size-1;

            .resign, .demote, .promote {
                cursor: pointer;
                opacity: 0.8;
            }

            .resign:hover, .demote:hover, .promote:hover {
                opacity: 1;
            }

            .resign, .demote {
                color: $down-red;
            }

            .promote {
                color: $up-green;
            }
        }
    }
}

a.user-summary {
    text-decoration: none;
}

a.user-summary:hover {
    color: $purple-4;

    .username {
        color: $purple-3;
    }
}