.user-summary {
    color: $purple-6;
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    gap: $gap-3;

    .user-photo {
        content: "";
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $gray-5;
    }

    .user-info {
        .username {
            font-size: $font-size-2;
            color: $purple-2;

            .at {
                font-size: $font-size-1;
                position: relative;
                top: -1px;
            }
        }
    }
}

a.user-summary {
    text-decoration: none;
}

a.user-summary:hover {
    text-decoration: underline;
}