.peka-page {

    .top-row {
        display: flex;
        align-items: center;
        margin-bottom: $gap-4;
        max-width: 1000px;
        justify-content: space-between;
    }

    h1 {
        color: $purple-4;
        font-weight: 600;
        font-size: $font-size-9;
        margin-right: $gap-4;
    }

    a, a:visited {
        color: $purple-4;
    }

    .search-select {
        width: 400px;

        .search__value-container {
            cursor: text;
        }
    
        .search__control {
            box-shadow: none;
            overflow: hidden;
            border-color: $gray-5 !important;
        }
    
        .search__menu {
            overflow: hidden;
            cursor: pointer;
        }
    
        .search__option {
            cursor: pointer;
    
            div {
                display: flex;
                align-items: center;
            }
        }

        .search__indicators {
            display: none;
        }
    
        input {
            height: inherit;
        }
    }

    .peka-text {
        color: $purple-2;
        font-size: $font-size-4;
        line-height: 1.6;
        max-width: 1000px;
        border-bottom: 1px solid $gray-3;
        padding-bottom: $gap-4;
        margin-bottom: $gap-5;
    }

    h2 {
        color: $purple-2;
        font-weight: 600;
        font-size: $font-size-8;
        margin-bottom: $gap-4;
        position: relative;

        button {
            font-size: $font-size-2;
            position: absolute;
            color: $purple-4;
            padding: 0;
            top: -$gap-1;
            font-weight: normal;
            padding-left: $gap-1;
        }

        button:hover {
            text-decoration: underline;
        }
    }

    .other-motifs {
        font-size: $font-size-2;
        margin-bottom: $gap-3;
        max-width: 800px;
        line-height: 1.5;

        .members {
            font-size: $font-size-1;
            font-weight: 300;
        }
    }

    .peka-sub-text {
        color: $purple-2;
        font-size: $font-size-3;
        line-height: 1.5;
        margin-bottom: $gap-6;

        h3 {
            font-size: $font-size-4;
            font-weight: 600;
            margin-bottom: $gap-2;
        }
        

        p {
            margin-bottom: $gap-2;
            max-width: 1000px;
        }

        .back {
            display: block;
        }

        li {
            list-style: disc;
            margin-left: $gap-5;
            margin-top: $gap-1;
        }

        strong {
            font-weight: 600;
        }
    }

    @media (max-width: 700px) {
        .peka-text {
            font-size: $font-size-3;
        }
    }
}