.peka-heatmap {

    .scrollable-graphic {
        width: calc(100% + #{$gap-5 + $gap-5});
        overflow-x: scroll;
        margin-right: -$gap-5;
    }

    .main-row {
        display: grid;
    }

    .motifs {
        color: $purple-4;
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
        gap: 0;

        .motif {
            padding-right: $gap-1;
            font-family: monospace;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            text-decoration: none;
            color: $purple-4;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .heatmaps {

        canvas, .canvas-container {
            margin-bottom: $gap-7;
        }

        .canvas-container {
            canvas {
                margin-bottom: 0;
            }
        }

        canvas {
            margin-bottom: $gap-7;
            border: 1px solid $gray-4;
            display: block;
        }

        canvas:first-child {
            border: none;
        }
    }

    .heatmaps.small-maps {
        .map-name {
            font-size: $font-size-1;
        }
    }

    .colors {
        width: 30px;
        height: 400px;
        margin-left: $gap-4;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 9px;
        padding-top: 38px;

        .value {
            position: relative;
            left: 30px + $gap-1;
            text-align: left;
            font-size: $font-size-1;
            color: $purple-4;
        }
    }

    .map-info {
        display: flex;
        margin-bottom: $gap-2;
        color: $purple-2;
        align-items: flex-start;

        .map-name {
            font-weight: 500;
            min-width: 60px;
            font-size: $font-size-2;
        }

        .horizontal-colors {
            width: 200px;
            height: 20px;
            margin-right: $gap-3;
            position: relative;
            border: 1px solid $gray-4;

            .values {
                position: absolute;
                display: flex;
                justify-content: space-between;
                width: 200px;
                bottom: 20px;
                font-size: $font-size-1;
                font-weight: 300;
                color: $purple-2;

                sup {
                    position: relative;
                    top: -$gap-1;
                }
            }
        }
    }

    #canvasTooltip, .__react_component_tooltip {
        div:first-child {
            font-weight: 700;
            margin-bottom: $gap-1;
        }

        div:last-child {
            font-weight: 300;
            font-size: $font-size-6;
        }

        sup {
            position: relative;
            top: -$gap-2;
            font-size: $font-size-2;
        }
    }
}