body {
    font-family: $font;
    background-color: $gray-1;
    font-size: $font-size-3;
    color: $purple-1;
}

main {
    margin-bottom: $gap-3;
}

input, textarea {
    background-color: $gray-4;
    border-radius: $border-radius;
    padding: $gap-3 $gap-2;
    color: $purple-2;
}

textarea {
    resize: none;
    width: 100%;
}

a, a:visited {
    color: $purple-4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input:required {
    box-shadow: none;
}

.error {
    font-size: $font-size-2;
    color: $error-red;
    margin-bottom: $gap-1;
    text-align: center;
}

.error-input {
    label {
        margin-top: 14px;
    }

    .error {
        text-align: left;
    }

    input, textarea {
        border: 1px solid $error-red;
        color: $error-red;
    }
}

.toggle {
    cursor: pointer;
    display: flex;
    align-items: center;

    .react-toggle {
        .react-toggle-track  {
            height: 20px;
            background-color: $gray-5 !important;
            width: 56px !important;
        }
    
        .react-toggle-thumb {
            border-color: $gray-5 !important;
            height: 16px;
            width: 16px;
            top: 2px;
            left: 3px;
        }
    }

    .react-toggle--checked {
        .react-toggle-track {
            background-color: $purple-4 !important;
        }
    
        .react-toggle-thumb {
            border-color: $purple-4 !important;
            left: 37px !important;
        }
    }
    
    .react-toggle--focus, .react-toggle--active, .react-toggle:active:not(.react-toggle--disabled) {
        .react-toggle-thumb {
            box-shadow: none !important;
        }
    }

    label {
        font-size: $font-size-2;
        cursor: pointer;
        color: $purple-4;
        margin-left: $gap-1;
    }
}



button[type=submit] {
    margin-left: 80px + $gap-3;
    height: 40px;
    width: 150px;
}

.input-icon {
    position: relative;
    display: flex;
    align-items: center;

    .icon {
        position: absolute;
        width: 16px;
        left: $gap-3;
        background: none;
    }

    input {
        padding-left: 16px + $gap-3 * 2;
    }
}

input::placeholder {
    color: $gray-6;
}

input[type=submit], button, a.button {
    cursor: pointer;
    padding: $gap-2 $gap-5;
    border-radius: $border-radius;
    transition-property: background-color;
    text-decoration: none;
}

.can-break {
    word-break: break-all;
}

.no-scroll::-webkit-scrollbar {
    display: none;
}

.no-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.react-select {
    flex-grow: 5;
    margin-right: $gap-3;
    cursor: pointer;

    .react-select__control {
        cursor: pointer;
        box-shadow: none;
        border: none;
        overflow: hidden;
        background-color: $gray-4;
        
    }

    .react-select__placeholder {
        color: $purple-1;
    }

    .react-select__menu {
        overflow: hidden;
        cursor: pointer;
    }

    .react-select__option {
        cursor: pointer;

        div {
            display: flex;
            align-items: center;
        }

        img {
            border-radius: 50%;
            object-fit: cover;
            margin-right: $gap-2;
        }
    }

    .react-select__option--is-disabled {
        cursor: auto;
    }

    input {
        color: $purple-2 !important;
    }

    .react-select__multi-value__label {
        color: $purple-2;
        background-color: $gray-3;

        img {
            display: none;
        }
    }

    .react-select__multi-value__remove {
        background-color: $gray-3;
    }

    .react-select__multi-value__remove:hover {
        background-color: darken($gray-3, 10);
        color: $purple-4;
    }

    .react-select__indicator-separator {
        display: none;
    }

    .react-select__indicator.react-select__dropdown-indicator {
        svg {
            fill: $purple-4;
            padding: 0;
            width: 25px;
            height: 25px;
        }
    }

    @media (max-width: 500px) {
        margin-bottom: $gap-3;
        margin-right: 0;

        .react-select__value-container {
            min-height: 50px;
        }
    }
}

$toggle-height: 20px;
$toggle-width: 60px;
$toggle-padding: 5px;

.binary-toggle {
    display: flex;
    
    font-size: $font-size-1;
    font-weight: 600;
    align-items: center;

    label {
        line-height: 1;
        color: $purple-1;
    }

    label.selected {
        color: $purple-4;
    }

    label:nth-child(1) {
        text-align: right;
    }

    .react-toggle {
        height: $toggle-height;
        width: $toggle-width;
        padding: 0;
        margin: 0 $gap-2;
    
        .react-toggle-track {
            background-color: #dddddd !important;
            width: 100%;
            height: 100%;
            padding: 0;
            border-radius: 5px;
        }
    
        .react-toggle-thumb {
            background-color: $purple-4;
            border: none;
            height: $toggle-height - (2 * $toggle-padding);
            width: $toggle-height - (2 * $toggle-padding);
            top: $toggle-padding;
            left: $toggle-padding;
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25) !important;
        }
    }

    .react-toggle--checked {
        .react-toggle-thumb {
            left: $toggle-width - ($toggle-height - $toggle-padding);
        }
    }

    @media (min-width: 300px) {
        font-size: $font-size-2;
    }
}

input[type=checkbox] {
    width: 20px !important;
    height: 20px !important;
    padding: 2px !important;
    margin: 0 !important;
    cursor: pointer;
}

input[type=checkbox]:checked {
    background-color: $purple-4;
}

form {

    .input {
        width: 100%;
        display: grid;
        grid-template-columns: 80px 1fr;
        align-items: center;
        margin-bottom: $gap-6;
        gap: $gap-3;
    
        label {
            text-align: right;
        }
    
        input, textarea {
            font-size: $font-size-5;
            padding: $gap-4 $gap-3;
            width: 100%;
            background-color: $gray-2;
        }
    }

    button[type=submit] {
        margin-left: 80px + $gap-3;
        height: 40px;
        width: 150px;
    }

    @media (max-width: 700px) {
        .input {
            margin-bottom: $gap-5;
            grid-template-columns: 68px 1fr;

            label {
                font-size: $font-size-2;
            }

            input {
                font-size: $font-size-4;
                padding: $gap-3 $gap-2;
            }
        }

        button[type=submit] {
            margin-left: 68px + $gap-3;
        }
        
    }

    @media (max-width: 400px) {
        .input {
            grid-template-columns: 1fr;
            gap: $gap-1;
            margin-bottom: $gap-4;

            label {
                text-align: left;
            }
        }

        button[type=submit] {
            margin-left: 0;
        }
    }

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

table {
    color: $purple-2;
    border-collapse: collapse;
    font-size: $font-size-2;
    border-top: 1px solid $gray-4;

    tbody {
        tr {
            cursor: pointer;
        }

        tr:hover {
            background-color: $gray-1;
        }
    }

    td, th {
        padding: $gap-2 $gap-2;
        white-space: nowrap;
    }

    td {
        border-bottom: 1px solid $gray-3;

        input[type=checkbox] {
            margin: 0 0 0 $gap-2 !important;
        }
    }

    th {
        border-bottom: 2px solid $gray-3;
        border-top: 2px solid $gray-3;
        font-weight: 600;
        text-align: left;
    }

    td:first-child, th:first-child {
        padding-left: 0;
    }

    td:last-child {
        padding-right: 0;
    }

    td.centered {
        text-align: center;
    }

    td.organism {
        font-style: italic;
    }
}

.primary-button {
    background-color: $purple-3;
    color: white;
    padding-top: $gap-2 + 2px;
    padding-bottom: $gap-2 + 2px;
}

button.primary-button:disabled {
    background-color: $gray-3;
    cursor: auto;
}

.primary-button:hover {
    background-color: $purple-7;
}

.primary-button:active, .secondary-button:active {
    box-shadow: $inset;
}

.secondary-button {
    border: 2px solid $purple-2;
    color: $purple-2;;  
}

.secondary-button:hover {
    background-color: $purple-4;
    border-color: $purple-4;
    color: white;
}

.tertiary-button:hover {
    background-color: $gray-4;
}

.tertiary-button:active {
    background-color: transparentize($purple-2, 0.7);
}