$font-size-1: 10px;
$font-size-2: 12px;
$font-size-3: 14px;
$font-size-4: 16px;
$font-size-5: 18px;
$font-size-6: 20px;
$font-size-7: 24px;
$font-size-8: 30px;
$font-size-9: 36px;
$font-size-10: 48px;
$font-size-11: 60px;
$font-size-12: 72px;

$gap-1: 4px;
$gap-2: 8px;
$gap-3: 12px;
$gap-4: 16px;
$gap-5: 24px;
$gap-6: 32px;
$gap-7: 48px;
$gap-8: 64px;
$gap-9: 96px;
$gap-10: 128px;
$gap-11: 192px;
$gap-12: 256px;
$gap-13: 384px;
$gap-14: 512px;
$gap-15: 640px;
$gap-16: 768px;

$gray-1: #f4f5f7;
$gray-2: #f3f3f3;
$gray-3: #EDEDED;
$gray-4: #dcdcdc;
$gray-5: #B5B5B5;

$purple-1: #9C99AC;
$purple-2: #9590B5;
$purple-3: #8679D2;
$purple-4: #7A6ADB;
$purple-6: #6D6699;
$purple-7: #6353C6;

$nav-height: 65px;
$sidebar-width: 200px;
$sidebar-small-width: 50px;
$border-radius-small: 3px;
$border-radius: 5px;
$border-radius-large: 10px;

$inset: inset 0px 4px 2px rgba(0, 0, 0, 0.25), inset 0px -2px 0px rgba(0, 0, 0, 0.08);

$font: Inter;
