.analysis-page {
    h1 {
        color: $purple-4;
        font-weight: 600;
        font-size: $font-size-8;
        margin-bottom: $gap-5;
    }

    .collection {
        margin-bottom: $gap-7;
        max-width: 900px;

        .collection-label {
            color: $purple-2;
            display: block;
            margin-bottom: $gap-2;
            font-size: $font-size-4;
            font-weight: 300;
        }
    }

    .commands {
        display: flex;
        margin-right: -$gap-8;

        .column {
            display: inline-block;
            margin-right: $gap-8;

            h2 {
                font-size: $font-size-7;
                font-weight: 500;
                margin-bottom: $gap-4;
            }

            .category {
                margin-bottom: $gap-5;

                h3 {
                    font-size: $font-size-5;
                    font-weight: 500;
                    margin-bottom: $gap-1;
                }

                a {
                    font-size: $font-size-4;
                    line-height: 1.8;
                }
            }
        }
    }

    

    
}