.collections-page {
    h1 {
        color: $purple-2;
        font-weight: 500;
        font-size: $font-size-9;
        margin-bottom: $gap-7;
    }

    .paginator {
        width: fit-content;
        margin: $gap-6 auto;
    }

    @media (max-width: 700px) {
        h1 {
            margin-bottom: $gap-5;
        }
    }
}