.collection-page {
    .editable {
        background-color: $gray-4;
        width: fit-content;
        border-radius: $border-radius-small;
    }

    .collection-info {
        display: grid;
        grid-template-columns: 1fr 350px;
        gap: $gap-9;
        margin-bottom: $gap-7;

        .collection-text {
            padding-bottom: $gap-4;
            border-bottom: 1px solid $gray-4;

            h1 {
                color: $purple-4;
                font-weight: 600;
                font-size: $font-size-9;
                margin-bottom: $gap-4;
            }

            .edit-button {
                margin-top: -$gap-4 + $gap-2;
                margin-bottom: $gap-4;
                color: $purple-2;
                font-size: $font-size-3;
                display: flex;
                height: fit-content;
                justify-content: center;
                width: 150px;
                align-items: flex-end;
                text-decoration: none;
                margin-left: auto;
                font-weight: 600;
            }
        
            .description {
                font-size: $font-size-4;
                font-weight: 300;
                color: $purple-2;
                line-height: 1.6;
            }

            .binary-toggle {
                margin-top: $gap-5;
            }
        }

        .collection-meta {
            .dates {
                color: $purple-2;
                text-align: right;
                font-size: $font-size-4;
                display: grid;
                gap: $gap-2;
                margin-bottom: $gap-7;
            }

            h2 {
                font-weight: 500;
                font-size: $font-size-7;
                margin-bottom: $gap-4;
                color: $purple-2;
            }

            h2.right {
                margin-left: auto;
                width: fit-content;
                padding-right: 20px + $gap-2;
            }

            .papers {

                .papers-grid {
                    display: grid;
                    gap: $gap-3;
                    
                    .paper {
                        display: grid;
                        grid-template-columns: 50px 1fr;
                        gap: $gap-2;
                        text-decoration: none;
                        color: $purple-6;
                        align-items: center;

                        .title {
                            font-weight: 300;
                            font-size: $font-size-2;
                        }
                    }

                    .paper:hover {
                        text-decoration: underline;
                    }
                }
            }

            .paper-forms {
                display: grid;
                gap: $gap-4;
                width: fit-content;
                margin-left: auto;

                .paper-form {
                    display: grid;
                    grid-template-columns: 200px 20px;
                    gap: $gap-2;
                    align-items: center;

                    .inputs {
                        display: grid;
                        gap: $gap-1;
                        grid-template-columns: 3fr 1fr;
                        grid-template-rows: repeat(2, 1fr);
                        width: 100%;

                        input {
                            width: 100%;
                            font-size: $font-size-1;
                            padding: $gap-2 $gap-2;
                        }

                        input:nth-child(1) {
                            grid-area: 1 / 1 / 2 / 3;
                        }

                        input:nth-child(2) {
                            grid-area: 2 / 1 / 3 / 2;
                        }

                        input:nth-child(3) {
                            grid-area: 2 / 2 / 3 / 3;
                        }
                    }

                    button {
                        width: 100%;
                        display: block;
                        padding: 0;
                        position: relative;
                        height: 20px;
                    }

                    button:before, button:after {
                        content: "";
                        width: 2px;
                        height: 100%;
                        top: 0;
                        left: 9px;
                        background-color: $purple-1;
                        position: absolute;
                    }

                    button:hover:before, button:hover:after {
                        background-color: $purple-2;
                    }

                    button:before {
                        transform: rotate(45deg);
                    }

                    button:after {
                        transform: rotate(-45deg);
                    }
                }

                button.new {
                    border: 2px dashed transparentize($purple-1, 0.3);
                    width: 200px;
                    color: transparentize($purple-1, 0.3);
                    font-size: $font-size-7;
                    padding: 0;
                    padding-bottom: 2px;
                }

                button.new:hover {
                    border-color: $purple-1;
                    color: $purple-1;
                }
            }
        }
    }

    form.collection-info {
        .collection-text {
            border-bottom: none;
        }
    }

    .children {
        display: flex;
        flex-wrap: wrap;

        .samples, .executions {
            display: inline-block;
            max-width: 100%;

            h2 {
                font-size: $font-size-7;
                color: $purple-2;
                font-weight: 600;
                margin-bottom: $gap-2;
            }

            p.info {
                font-size: $font-size-4;
                font-weight: 200;
                line-height: 1.6;
                color: $purple-1;
                margin-bottom: $gap-3;
                max-width: 700px;
            }

            .paginator {
                margin-bottom: $gap-1;
                height: 20px;
                
                button:first-child {
                    margin-left: 0;
                }
        
                a, button {
                    font-size: $font-size-3;
                }
        
                img {
                    width: 8px;
                    position: relative;
                    top: 1px;
                }
            }
        }

        .samples {
            margin-right: $gap-8;
            margin-bottom: $gap-8;
        }
    }

    .owner {
        width: fit-content;
        margin-left: auto;
        margin-top: $gap-7;
        color: $purple-2;
        font-weight: 300;
        font-size: $font-size-5;
        display: flex;

        .names {
            margin-left: $gap-1;
            display: grid;
            gap: $gap-1;
        }
        
        a {
            color: $purple-4;
            font-weight: 500;
            display: block;
        }
    }

    .bottom-buttons {
        margin-top: $gap-7;
        margin-left: auto;
        display: grid;
        width: fit-content;
        grid-template-columns: repeat(2, 170px);
        gap: $gap-3;

        button {
            display: block;
            width: 100%;
        }
    }


    @media (max-width: 1700px) {
        .children {
            grid-template-columns: 1fr;
        }
    }

    @media (max-width: 1300px) {
        .collection-info {
            gap: $gap-8;
            grid-template-columns: 1fr 275px;
    
            .collection-text {
    
                h1 {
                    font-size: $font-size-8;
                    margin-bottom: $gap-3;
                }
            
                .description {
                    font-size: $font-size-3;
                    line-height: 1.5;
                }
            }

            .collection-meta {
                .dates {
                    font-size: $font-size-3;
                    display: grid;
                }
        
                .papers {
                    h2 {
                        font-size: $font-size-6;
                        margin-bottom: $gap-3;
                    }
        
                    .papers-grid {
                        gap: $gap-3;
                        
                        .paper {
                            grid-template-columns: 40px 1fr;
                            gap: $gap-2;

                            img {
                                width: 100%;
                            }
        
                            .title {
                                font-size: $font-size-1;
                            }
                        }
                    }
                }
            }
        }

        .children {
            .samples, .executions {
                p.info {
                    font-size: $font-size-3;
                }
            }
        }

        .owner {
            margin-top: $gap-6;
            font-size: $font-size-4;
        }
       
    }

    @media (max-width: 1100px) {
        .collection-info {
            grid-template-columns: 1fr 0;
            gap: 0;

            .collection-meta {
                display: none;
            }
        }
    }

    @media (max-width: 700px) {
        .collection-info {

            .collection-text {
                h1 {
                    font-size: $font-size-7;
                }

                .description {
                    line-height: 1.4;
                }
            }
        }
    }

    

    
}