.collection-page {
    .collection-info {
        display: grid;
        grid-template-columns: 1fr 350px;
        gap: $gap-9;
        margin-bottom: $gap-7;

        .collection-text {
            padding-bottom: $gap-4;
            border-bottom: 1px solid $gray-4;

            h1 {
                color: $purple-4;
                font-weight: 600;
                font-size: $font-size-9;
                margin-bottom: $gap-4;
            }
        
            .description {
                font-size: $font-size-4;
                font-weight: 300;
                color: $purple-2;
                line-height: 1.6;
            }
        }

        .collection-meta {
            .dates {
                color: $purple-2;
                text-align: right;
                font-size: $font-size-4;
                display: grid;
                gap: $gap-2;
                margin-bottom: $gap-7;
            }

            .papers {
                h2 {
                    font-weight: 500;
                    font-size: $font-size-7;
                    margin-bottom: $gap-4;
                    color: $purple-2;
                }

                .papers-grid {
                    display: grid;
                    gap: $gap-3;
                    
                    .paper {
                        display: grid;
                        grid-template-columns: 50px 1fr;
                        gap: $gap-2;
                        text-decoration: none;
                        color: $purple-6;
                        align-items: center;

                        .title {
                            font-weight: 300;
                            font-size: $font-size-2;
                        }
                    }

                    .paper:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .samples-table {
        margin-bottom: $gap-7;
    }

    .execution-history {

        .paginator {
            margin-top: $gap-3;
        }
    }

    h2 {
        font-size: $font-size-7;
        color: $purple-2;
        font-weight: 600;
        margin-bottom: $gap-2;
    }

    p.info {
        font-size: $font-size-4;
        font-weight: 200;
        line-height: 1.6;
        color: $purple-1;
    }

    .owner {
        width: fit-content;
        margin-left: auto;
        margin-top: $gap-7;
        color: $purple-2;
        font-weight: 300;
        font-size: $font-size-5;
        display: flex;

        .names {
            margin-left: $gap-1;
            display: grid;
            gap: $gap-1;
        }
        
        a {
            color: $purple-4;
            font-weight: 500;
            display: block;
        }
    }

    @media (max-width: 1300px) {
        .collection-info {
            gap: $gap-8;
            grid-template-columns: 1fr 275px;
    
            .collection-text {
    
                h1 {
                    font-size: $font-size-8;
                    margin-bottom: $gap-3;
                }
            
                .description {
                    font-size: $font-size-3;
                    line-height: 1.5;
                }
            }

            .collection-meta {
                .dates {
                    font-size: $font-size-3;
                    display: grid;
                }
        
                .papers {
                    h2 {
                        font-size: $font-size-6;
                        margin-bottom: $gap-3;
                    }
        
                    .papers-grid {
                        gap: $gap-3;
                        
                        .paper {
                            grid-template-columns: 40px 1fr;
                            gap: $gap-2;

                            img {
                                width: 100%;
                            }
        
                            .title {
                                font-size: $font-size-1;
                            }
                        }
                    }
                }
            }
        }

        .owner {
            margin-top: $gap-6;
            font-size: $font-size-4;
        }
       
    }

    @media (max-width: 1100px) {
        .collection-info {
            grid-template-columns: 1fr 0;
            gap: 0;

            .collection-meta {
                display: none;
            }
        }
    }

    @media (max-width: 700px) {
        .collection-info {

            .collection-text {
                h1 {
                    font-size: $font-size-7;
                }

                .description {
                    line-height: 1.4;
                }
            }
        }
    }

    

    
}