.command-page {
    h1 {
        color: $purple-4;
        font-weight: 600;
        font-size: $font-size-9;
        margin-bottom: $gap-4;
    }

    .description {
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: $gap-8;
    }

    label.collection-label {
        font-weight: 600;
        margin-bottom: $gap-1;
        display: block;
    }

    label.collection-label + .react-select {
        max-width: 700px;
    }

    form {
        margin-top: $gap-7;

        .inputs {
            display: block;

            .input {
                display: block;
                margin-bottom: $gap-6;
                
                > label {
                    display: block;
                    text-align: left;
                    font-weight: 700;
                    margin-bottom: $gap-1;
                }

                .label {
                    font-weight: 300;
                    margin-bottom: $gap-2;
                }

                input, .react-select {
                    max-width: 500px;
                }

                input[type=number] {
                    max-width: 250px;
                }

                .react-select--is-disabled {
                    opacity: 0.5;
                }
            }
        }

        button {
            margin-left: 0;
        }
    }
}