.command-page {
    h1 {
        color: $purple-4;
        font-weight: 600;
        font-size: $font-size-9;
        margin-bottom: $gap-4;
    }

    .description {
        font-weight: 300;
        line-height: 1.5;
    }

    form {
        .inputs {
            display: block;

            .input {
                display: block;
                
                label {
                    display: block;
                    text-align: left;
                }
            }
        }

        button {
            margin-left: 0;
        }
    }
}