.execution-page {
    h1 {
        color: $purple-4;
        font-weight: 600;
        font-size: $font-size-8;
        margin-bottom: $gap-6;
    }

    .editable {
        background-color: $gray-4;
        width: fit-content;
        border-radius: $border-radius-small;
        padding: $gap-1 0;
    }

    .edit-button {
        margin-bottom: $gap-6;
        margin-top: -$gap-5;
        display: block;
        width: max-content;
        margin-left: auto;
        width: 144px;
        text-align: center;
        color: $purple-4;
    }

    .bottom-buttons {
        margin-top: $gap-7;
        margin-left: auto;
        display: grid;
        width: fit-content;
        grid-template-columns: repeat(2, 170px);
        gap: $gap-3;

        button {
            display: block;
            width: 100%;
        }
    }

    .top-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: $gap-4;

        .associations {
            font-weight: 500;

            .association {
                margin-bottom: $gap-2;
            }
            
            a {
                font-weight: 400;
            }
        }

        .dates {
            font-size: $font-size-2;
            margin-top: auto;
            display: grid;
            gap: $gap-2;
            text-align: right;
        }
    }

    .files {
        display: grid;
        gap: $gap-3;
        margin-bottom: $gap-7;

        .file {
            display: flex;
            align-items: center;
            font-size: $font-size-2;

            img {
                width: 14px;
                margin-right: $gap-1;
            }

            span {
                font-size: $font-size-1;
                padding-left: $gap-1;
                color: $purple-6;
            }
        }
    }

    .command {
        margin-bottom: $gap-3;
        max-width: 700px;
        border-radius: 5px;
        
        .command-name {
            font-size: $font-size-7;
            font-weight: 500;
            margin-bottom: $gap-1;
        }

        .command-description {
            font-weight: 300;
            line-height: 1.5;
        }
    }

    h2 {
        font-size: $font-size-6;
        font-weight: 500;
        margin-bottom: $gap-2;
    }



    .parent {
        a {
            display: block;
            font-size: $font-size-3;
        }
    }

    .map {
        display: flex;
        font-size: $font-size-2;
        margin-bottom: $gap-1;

        .key, .values {
            font-family: monospace;
        }

        .key {
            margin-right: $gap-1;
            font-weight: 700;
        }

        .values {
            a {
                font-family: $font;
            }
        }
    }

    .execution-details {
        margin-bottom: $gap-7;

        .duration, .status, .warning-message, .error-message {
            margin-bottom: $gap-2;
        }

        .warning-message, .error-message {
            img {
                width: 18px;
                margin-right: $gap-1;
                position: relative;
                top: 3px;
            }

            font-family: monospace;
            font-size: $font-size-2;
        }
    }

    .io {
        display: flex;
        flex-wrap: wrap;

        .all-inputs {
            margin-right: $gap-9;
        }

        .all-inputs, .all-outputs {
            & > div {
                margin-bottom: $gap-6;
            }
        }

        .files {
            gap: $gap-1;
            margin-bottom: 0;
        }
    }

    .data-outputs {
        .step {
            display: block;
            font-size: $font-size-4;
            margin-bottom: $gap-1;
        }
    }

    span {
        font-family: $font;
    }

    span.size {
        color: $purple-1;
        font-size: $font-size-1;
    }

    .warning.value {
        font-style: italic;
        font-weight: 300;
        font-family: $font;
    }

    .execution-history {
        .executions-list {
            border-top: none;
        }
    }

    .owner {
        width: fit-content;
        margin-left: auto;
        margin-top: $gap-7;
        color: $purple-2;
        font-weight: 300;
        font-size: $font-size-5;
        display: flex;

        .names {
            margin-left: $gap-2;
            display: grid;
            gap: $gap-2;
        }
        
        a {
            color: $purple-4;
            font-weight: 500;
            display: block;
        }
    }

    @media (max-width: 800px) {
        .top-row {
            display: block;

            .associations {
                margin-bottom: $gap-5;
            }

            .dates {
                text-align: left;
                margin-bottom: $gap-5;
            }
        }
    }
}