.execution-page {
    h1 {
        color: $purple-4;
        font-weight: 600;
        font-size: $font-size-8;
        margin-bottom: $gap-6;
    }

    .top-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: $gap-4;

        .associations {
            font-weight: 500;

            a {
                font-weight: 400;
            }
        }

        .dates {
            font-size: $font-size-2;
            margin-top: auto;
            display: grid;
            gap: $gap-2;
            text-align: right;
        }
    }

    .process {
        margin-bottom: $gap-5;
        max-width: 800px;
        border: 1px solid $gray-2;
        padding: $gap-3;
        border-radius: 5px;
        
        .process-name {
            font-size: $font-size-7;
            font-weight: 500;
            margin-bottom: $gap-1;
        }

        .process-description {
            font-weight: 300;
            line-height: 1.5;
        }
    }

    h2 {
        font-size: $font-size-6;
        font-weight: 500;
    }

    .parent {
        margin-bottom: $gap-4;

        a {
            display: block;
            font-size: $font-size-3;
        }
    }

    a.download {
        font-size: $font-size-2;

        img {
            width: 10px;
        }

        span {
            color: $purple-1;
            font-size: $font-size-1;
        }
    }

    .upstream {
        margin-bottom: $gap-4;

        h2 {
            margin-bottom: $gap-2;
        }

        .execution {
            margin-bottom: $gap-2;

            a {
                display: block;
                font-size: $font-size-3;
                margin-bottom: $gap-1;
            }
        }

    }

    .file-inputs, .execution-inputs {
        margin-bottom: $gap-4;

        .inputs {

            .input {
                margin-bottom: $gap-1;

                .key, .value {
                    font-family: monospace;
                }
    
                .key {
                    font-weight: 500;
                }
            }
        }
    }

    

    .parameters {
        .parameter {
            display: flex;

            .name {
                margin-right: $gap-1;
            }
        }
    }
}