.execution-page {
    h1 {
        color: $purple-4;
        font-weight: 600;
        font-size: $font-size-8;
        margin-bottom: $gap-6;
    }

    .top-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: $gap-4;

        .associations {
            font-weight: 500;

            a {
                font-weight: 400;
            }
        }

        .dates {
            font-size: $font-size-2;
            margin-top: auto;
            display: grid;
            gap: $gap-2;
            text-align: right;
        }
    }

    .process {
        margin-bottom: $gap-5;
        max-width: 800px;
        border: 1px solid $gray-2;
        padding: $gap-3;
        border-radius: 5px;
        
        .process-name {
            font-size: $font-size-7;
            font-weight: 500;
            margin-bottom: $gap-1;
        }

        .process-description {
            font-weight: 300;
            line-height: 1.5;
        }
    }

    h2 {
        font-size: $font-size-6;
        font-weight: 500;
        margin-bottom: $gap-2;
    }

    .parent, .upstream, .file-inputs, .basic-inputs, .execution-details {
        margin-bottom: $gap-5;
    }

    .parent {
        a {
            display: block;
            font-size: $font-size-3;
        }
    }

    .map {
        display: flex;
        font-size: $font-size-2;
        margin-bottom: $gap-1;

        .key, .values {
            font-family: monospace;
        }

        .key {
            margin-right: $gap-1;
            font-weight: 700;
        }

        .values {
            a {
                font-family: $font;
            }
        }
    }

    .execution-details {
        .duration, .status, .warning-message, .error-message {
            margin-bottom: $gap-2;
        }

        .warning-message, .error-message {
            img {
                width: 18px;
                margin-right: $gap-1;
                position: relative;
                top: 3px;
            }
        }
    }

    .data-outputs {
        .step {
            display: block;
            font-size: $font-size-4;
            margin-bottom: $gap-1;
        }
    }
}