.group-page {
    .editable {
        background-color: $gray-4;
        width: fit-content;
        border-radius: $border-radius-small;
    }

    .group-info {
        display: flex;
        font-size: $font-size-8;
        margin-bottom: $gap-6;
        margin-left: -$gap-2;
        
        h1 {
            color: $purple-2;
            padding: $gap-2 $gap-2;
        }

        .user-count {
            color: $purple-4;
            font-size: $font-size-6;
            padding: $gap-2 0;
            margin-left: $gap-4;
            margin-right: $gap-6;
            position: relative;
            top: -1px;
            

            svg {
                fill: $purple-4;
                position: relative;
                top: $gap-2;
                width: 25px;
                margin-left: $gap-1;
            }
        }

        .edit-button {
            color: $purple-2;
            font-size: $font-size-3;
            margin: $gap-2 0;
            display: flex;
            align-items: flex-end;
            text-decoration: none;
            height: 100%;
        }
    }

    .slug {
        padding: $gap-2 $gap-2;;
        margin-top: -$gap-6 + $gap-1;
        margin-bottom: $gap-4;
        margin-left: -$gap-2;
    }

    p.description {
        color: $purple-2;
        margin-bottom: $gap-7;
        line-height: 1.6;
        padding: $gap-2 $gap-2;
        margin-left: -$gap-2;
    }

    .users-grid {
        border-top: 1px solid $gray-3;
        padding-top: $gap-5;
        
        .user-summary {
            display: inline-grid;
            width: 350px;
            margin-bottom: $gap-6;
            margin-right: $gap-5;
            grid-template-columns: 60px 1fr;
            margin-right: -$gap-5;

            .user-photo {
                width: 60px;
                height: 60px;
            }

            .name {
                font-size: $font-size-5;
                font-weight: 300;
            }

            .group-status {
                font-size: $font-size-2;
                font-weight: 300;
            }
        }
    }

    .user-inviter {
        max-width: 700px;
    }

    .group-deletion {
        margin-top: $gap-7;

        button {
            display: block;
            margin-left: auto;
        }


    }
}