.login-page {
    padding: $gap-9;
    background-color: $gray-1;
    display: flex;
    align-items: center;
    justify-content: center;

        .login-form {
            max-width: 450px;
        }

    @media (max-width: 1200px) {
        padding: $gap-8;
    }

    @media (max-width: 600px) {
        background-color: $purple-3;
        display: block;
        padding: $gap-5 0;

        .login-form {
            margin: 0 auto;
            margin-bottom: $gap-7;

            .auth-link {
                display: none;
            }
        }
    }

    @media (max-width: 600px) {
        padding: $gap-5 0;

        .login-form {
            margin-bottom: $gap-6;
            padding-left: $gap-4;
            padding-right: $gap-4;
        }
    }

    @media (max-width: 450px) {
        padding: $gap-4 0;

        .login-grid {

            .login-form {
                margin-bottom: $gap-5;
            }

            .welcome-text {
                padding: 0 $gap-7 $gap-7;
                font-size: $font-size-4;
            }
        }
    }
}