.new-collection-page {
    color: $purple-2;
    display: flex;
    align-items: center;
    justify-content: center;

    .page-content {
        max-width: 700px;
        width: 100%;
    }

    h1 {
       font-size: $font-size-8;
       margin-bottom: $gap-3;
    }

    p {
        margin-bottom: $gap-6;
        font-weight: 300;
        line-height: 1.6;
    }

    form {
        .input {
            gap: $gap-4;
            
            .error-container {
                height: 100%;
            }

            textarea {
                height: 150px;
            }
        }

        .input:nth-child(2), .input:nth-child(3) {
            align-items: flex-start;

            label {
                padding-top: $gap-4;
            }
        }

        .input:nth-child(3) {
            width: fit-content;
        }

        textarea {
            font-size: $font-size-3;
        }

        .binary-toggle {
            position: relative;
            top: 2px;
            margin-bottom: $gap-2;

            label {
                padding-top: 0 !important;
            }
        }

        .info {
            font-weight: 300;
            line-height: 1.4;
            max-width: 400px;
        }
    }

    button[type=submit] {
        white-space: nowrap;
        width: max-content;
    }

    @media (max-width: 1000px) {
        display: block;

        .page-content {
            max-width: none;
        }
    }
}