.new-group-page {
    color: $purple-2;
    display: flex;
    align-items: center;
    justify-content: center;

    .page-content {
        max-width: 700px;
        width: 100%;
    }

    h1 {
       font-size: $font-size-8;
       margin-bottom: $gap-6;
    }

    form {
        .input {
            .error-container {
                height: 100%;
                
                .url-container {
                    display: flex;
                    height: 100%;
                    align-items: center;
                }
                
                .url {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    background: none;
                    padding-left: $gap-3;
                    background-color: $gray-2;
                    border-top-left-radius: $border-radius;
                    border-bottom-left-radius: $border-radius;
                    font-size: $font-size-4;
                    padding-top: 0px;
                    color: $gray-6;
                    font-weight: 300;

                    .at {
                        font-size: $font-size-2;
                        padding-top: 2px;
                    }
                }
            }
        }

        .input:nth-child(2) {
            input {
                padding-left: 0.5px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        .input:nth-child(2).error-input {
            .error-container {
                .url {
                    height: calc(100% - 19px);
                    border: 1px solid $error-red;
                    border-right: none;
                }

                input {
                    border-left: none;
                }
            }
        }


    }

    @media (max-width: 1000px) {
        display: block;

        .page-content {
            max-width: none;
        }
    }
}