.page-not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        font-size: $font-size-9;
        font-weight: 300;
        margin: $gap-7 0;
    }

    .logo {
        display: block;
    }
}