.password-reset-page {
    padding: $gap-9;
    background-color: $gray-1;
    display: flex;
    align-items: center;
    justify-content: center;

    .password-reset-form {
        max-width: 450px;

        h1 {
            font-size: $font-size-7;
            margin-bottom: $gap-4;
        }

        .info {
            font-weight: 300;
            line-height: 1.6;
        }

        .error {
            margin-top: $gap-5;
            margin-bottom: -$gap-5;
        }
    }

    @media (max-width: 1200px) {
        padding: $gap-8;
    }

    @media (max-width: 600px) {
        background-color: $purple-3;
        display: block;
        padding: $gap-5 0;

        .password-reset-form {
            margin: 0 auto;
            margin-bottom: $gap-7;
        }
    }

    @media (max-width: 600px) {
        padding: $gap-5 0;

        .password-reset-form {
            margin-bottom: $gap-6;
            padding-left: $gap-4;
            padding-right: $gap-4;

            h1, .info {
                margin-left: $gap-4;
            }
        }
    }
}