.peka-page {

    h1 {
        color: $purple-4;
        font-weight: 600;
        font-size: $font-size-9;
        margin-bottom: $gap-4;
    }

    .peka-panel {
        margin-bottom: $gap-3;

        .zoom {
            border-radius: 4px;
            overflow: hidden;
            cursor: pointer;
            display: flex;
            border: 1px solid $gray-5;
            width: fit-content;

            .zoom-in, .zoom-out {
                padding: $gap-1 $gap-2;
                text-align: center;
                font-size: $font-size-6;
                width: 30px;
            }

            .zoom-in:active, .zoom-out:active {
                box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25), inset 0px -2px 0px rgba(0, 0, 0, 0.08);
            }

            .disabled {
                opacity: 0.5;
                cursor: default;
            }

            .zoom-in {
                border-right: 1px solid $gray-5;
            }
        }
    }

    .canvas {
        overflow: scroll;
        position: relative;
        display: grid;

        .sequences {
            color: $purple-4;

            .sequence {
                padding-right: $gap-1;
                font-family: monospace;
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }

        .proteins {
            display: grid;
            align-items: flex-end;

            .protein {
                transform: rotate(-90deg);
                text-align: left;
                padding-left: $gap-1;
                color: white;
                font-size: 6px;
                white-space: nowrap;
                font-family: monospace;
                display: flex;
                align-items: center;
                position: relative;
                color: $purple-4;
            }
        }

        canvas {
            //transition-duration: 0.2s;
            position: relative;
        }
    }
}