.peka-page {

    .top-row {
        display: flex;
        align-items: center;
        margin-bottom: $gap-4;
        max-width: 800px;
        justify-content: space-between;
    }

    h1 {
        color: $purple-4;
        font-weight: 600;
        font-size: $font-size-9;
        margin-right: $gap-4;
    }

    .search-select {
        width: 400px;

        .search__value-container {
            cursor: text;
        }
    
        .search__control {
            box-shadow: none;
            overflow: hidden;
            border-color: $gray-5 !important;
        }
    
        .search__menu {
            overflow: hidden;
            cursor: pointer;
        }
    
        .search__option {
            cursor: pointer;
    
            div {
                display: flex;
                align-items: center;
            }
        }

        .search__indicators {
            display: none;
        }
    
        input {
            height: inherit;
        }
    }

    .peka-text {
        color: $purple-2;
        font-size: $font-size-4;
        line-height: 1.6;
        max-width: 800px;
        border-bottom: 1px solid $gray-3;
        padding-bottom: $gap-4;
        margin-bottom: $gap-5;
    }

    h2 {
        color: $purple-2;
        font-weight: 600;
        font-size: $font-size-8;
        margin-bottom: $gap-4;
    }

    .peka-sub-text {
        color: $purple-2;
        font-size: $font-size-3;
        line-height: 1.5;
        max-width: 800px;
        margin-bottom: $gap-6;
    }
}