.sample-page {
    .sample-info {
        margin-bottom: $gap-7;
    }

    h2 {
        color: $purple-4;
        font-size: $font-size-8;
        font-weight: 500;
        margin-bottom: $gap-5;
    }

    .paginator {
        margin-top: $gap-3;
        margin-bottom: -$gap-2;
    }
}