.sample-page {
    .sample-info {
        margin-bottom: $gap-8;
    }

    h2 {
        color: $purple-2;
        font-size: $font-size-7;
        font-weight: 500;
        margin-bottom: $gap-2;
    }
    
    p.info {
        font-weight: 300;
        line-height: 1.6;
        margin-bottom: $gap-5;
    }

    .execution-history {
        max-width: 600px;
    }
}