.search-page {

    form {
        max-width: 1200px;
        margin-bottom: $gap-8;
        padding-bottom: $gap-8;
        border-bottom: 1px solid $gray-3;
    }

    form.not-searched {
        margin-bottom: $gap-10;
    }

    .react-select {
        margin: 0;

        .react-select__value-container {
            min-height: 0;
        }
    }

    .top-row {
        display: grid;
        grid-template-columns: 1fr 200px;
        gap: $gap-5;
        margin-bottom: $gap-5;

        .input-icon {
            input {
                width: 100%;
            }
        }
    }

    h2 {
        font-size: $font-size-4;
        margin-bottom: $gap-2;
    }

    .options-row {
        display: flex;
        margin-bottom: $gap-5;

        input, .react-select {
            width: 200px;
            margin-right: $gap-4;
            flex-grow: 0;
        }

        .react-select {
            margin: 0;
        }
    }

    .bottom-row {
        display: flex;
        justify-content: space-between;

        .react-select {
            margin: 0;
            max-width: 250px;
        }

        button {
            margin: 0;
        }
    }

    .loader, .no-data {
        display: flex;
        justify-content: center;
        max-width: 1200px;
        padding-bottom: $gap-6;
        font-size: $font-size-5;
        font-weight: 300;
    }

    .results {
        .paginator {
            margin-bottom: $gap-3;
        }

        table {
            width: 100%;
            max-width: 1200px;
        }
    }

    @media (max-width: 900px) {
        .options-row {
            display: block;
    
            input, .react-select {
                width: 100%;
                margin-bottom: $gap-4;
                margin-right: 0;
            }
        }
    }

    @media (max-width: 600px) {
        .top-row {
            grid-template-columns: 1fr;
        }
    }

    @media (max-width: 500px) {
        .bottom-row {
            display: grid;
            gap: $gap-4;
            justify-content: inherit;
            
            .react-select {
                max-width: none;
            }
    
            button {
                width: 100%;
                display: block;
            }
        }
    }
}