main.settings-page {
    color: $purple-2;
    padding: $gap-6;

    h1 {
        font-size: $font-size-8;
        margin-bottom: $gap-7;
        margin-left: 68px + $gap-3;
        line-height: 2;
    }

    .settings-form {
        margin-bottom: $gap-9;
    }

    .settings-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1200px;
        gap: $gap-5;
    }

    .groups-list {
        margin-left: 68px + $gap-3;
    }

    .account-deletion {
        text-align: right;
        margin-top: $gap-10;
    }

    @media (max-width: 1000px) {
        .settings-grid {
            display: flex;
            flex-direction: column-reverse;

            .user-image-editor {
                margin-left: 68px + $gap-3;
                position: relative;
                top: -$gap-7;
                margin-left: auto;
            }
        }
    }

    @media (max-width: 700px) {
        padding: $gap-5;

        h1 {
            margin-bottom: $gap-6;
        }

        .groups-list {
            margin-left: 0;
        }
    }

    @media (max-width: 400px) {

        h1, .groups-list {
            margin-left: 0;
        }

        .settings-grid {
            .user-image-editor {
                grid-template-columns: 1fr;
                margin: 0;
            }
        }
        
        .groups-list {
            .groups {
                width: 100%;

                .group-container {
                    .group {
                        font-size: $font-size-1;

                        .at {
                            font-size: $font-size-1 * 0.8;
                        }
                    }

                    .leave {
                        display: none;
                    }
                }

                .new-group {
                    margin-right: 0;
                    font-size: $font-size-7;
                }
            }
        }
    }
}